src/test/resources/xsd/dotNet4.xsd

<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s3="http://schemas.paladynesys.com/global/statusUpdate/1.8"
          elementFormDefault="qualified" targetNamespace="http://schemas.paladynesys.com/global/statusUpdate/1.8">
    <s:complexType name="statusUpdate">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="StatusUpdateID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="statuses" type="s3:ArrayOfStatus"/>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="s3:entity"/>
            <s:element minOccurs="0" maxOccurs="1" name="messages" type="s3:ArrayOfMessage"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfStatus">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="status" nillable="true" type="s3:status"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="status">
        <s:simpleContent>
            <s:extension base="s:string">
                <s:attribute name="type" type="s:string"/>
            </s:extension>
        </s:simpleContent>
    </s:complexType>
    <s:complexType name="entity">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfMessage">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="s3:message"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="message">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime"/>
        </s:sequence>
    </s:complexType>
</s:schema>