src/test/resources/xsd/dotNet5.xsd

<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s4="http://schemas.paladyne.com/securitymaster/global/8.0/"
          xmlns:s5="http://microsoft.com/wsdl/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
          xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
          xmlns:s3="http://schemas.paladynesys.com/global/statusUpdate/1.8"
          xmlns:tns="http://paladyne.com/securitymaster/global/8.0/"
          xmlns:s2="http://schemas.paladynesys.com/global/response/1.0"
          xmlns:s1="http://schemas.paladynesys.com/global/request/1.8"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
          xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
         elementFormDefault="qualified"
          targetNamespace="http://schemas.paladyne.com/securitymaster/global/8.0/">
    <s:import namespace="http://schemas.paladynesys.com/global/request/1.8"/>
    <s:complexType name="CoraxEventsResult">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Results" type="s4:ArrayOfCoraxEvent"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfCoraxEvent">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="CoraxEvent" nillable="true" type="s1:CoraxEvent"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="LegalEntitiesResponse">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LegalEntities" type="s4:ArrayOfLegalEntity"/>
            <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string"/>
        </s:sequence>
    </s:complexType>
    <s:complexType name="ArrayOfLegalEntity">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="LegalEntity" nillable="true" type="s1:LegalEntity"/>
        </s:sequence>
    </s:complexType>
</s:schema>